<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我的{$molds_message['moldname']}-{$GLOBALS['S']['title']}</title>
<link href="{$GLOBALS['skin']}style/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
var site_dir="{$GLOBALS['WWW']}";
</script>
{include="js.html"}
</head>

<body>
{include="head.html"}
<div class="wpm list">
  <div class="tab11"></div>
  <div class="tab1 tab1b main">
    <div class="l">
      <div class="columnc"><h2>会员中心</h2></div>
      <div class="columncl">
		{include="member/menu.html"}
      </div>
    </div>
    <div class="r">
    <div class="content">
       <div class="position">当前位置：我的{$molds_message['moldname']}</div>
    </div>
	<div class="comment">
         <div class="list">
         {foreach $lists as $s}
         <dl><dt>{$s['user']} 发布于 {fun date('Y-m-d H:i:s',$s['addtime'])}&nbsp;&nbsp;<a href="?c=member&a=mydel&molds=message&id={$s['id']}">[删除]</a></dt>
         <dd>{$s['body']}{if($s['reply'])}<br /><span style="color:#C00">管理员回复：{$s['reply']}</span>{/if}</dd></dl>
         {/foreach}
         </div>
	</div>
	<ul class="c pages">{$pages}</ul>
    </div>
  </div>
  <div class="tab12 mban"></div>
</div>
{include="bottom.html"}
</body>
</html>
