<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="source/admin/template/style/admin.css" rel="stylesheet" type="text/css" />
<script src="include/js/jsmain.js" type="text/javascript"></script>
<script src="include/js/admin.js" type="text/javascript"></script>
<script type="text/javascript">
function click_go(){
	winboxgo('<img src="include/js/doyoupload/loading.gif" /> <strong>正在清理多余附件，请稍后...</strong>','b');
}
</script>
</head>

<body>
<div class="maintop">当前位置：<?php echo $toptxt ?></div>
<div class="main">
	<div class="info">
    <form action="?c=a_files&a=clear" method="post">
    <dl style="border:0"><input type="submit" value="开始清理多余附件" class="btnbig" onclick="click_go();" /></dl>
    <dl style="border:0; padding-top:20px">系统将自动检测所有附件，并将数据库中没有出现的多余附件删除。</dl>
    </form>
    </div>
</div>
</body>
</html>
