<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="source/admin/template/style/admin.css" rel="stylesheet" type="text/css" />
<?php if($msgclick){ ?>
<script src="include/js/jsmain.js" type="text/javascript"></script>
<script src="include/js/admin.js" type="text/javascript"></script>
<script type="text/javascript">
function click_go(){
	winboxgo('<img src="include/js/doyoupload/loading.gif" /> <strong><?php echo $msgclick ?></strong>','b');
}
</script>
<?php } ?>
</head>

<body>
<div class="maintop">当前位置：<?php echo $toptxt ?></div>
<div class="main" style="padding-top:60px;">
  <div class="tabmsg" style="width:400px;margin: 0 auto;">
    <div class="t"><?php echo $msgtitle ?></div>
    <div class="c"><?php echo $msg ?></div>
    <div class="g"><?php echo $msggo ?></div>
  </div>
</div>
</body>
</html>
